MY_ADDRESS=0x4f73a4f086C627cF492404b65fD56A5Ac3fEd35F // your bnb recever wallet address
MSN_PRICE=20000 // price per token
PER_REFFER=1000 // per reffer token dis
TOKEN_CONTRACT_ADDRESS=0x0AF27a0eed6d893b36c33dF204354fc2EAcf790f // your toen contract address
BOT_LINK=https://t.me/MesonNetworkSaleBot // your telegram bot link
BOT_TOKEN=6121633123:AAGDehGcQLShhgkKuf50eWVVvHBj__2kfkY // your telegram bot token

API_KEY=YU2D1Z764SGI4ETN5QBJWVX8INSF1P19C3 // binance api
TRANSACTION_LIST_ENDPOINT=https://api.bscscan.com/api 

PRIVATE_KEY=9936ffd8c463b8e12018c8d441932b942e7467be27a9cdf4086a7b5c15c0706d // your token sending private key
RPC_URL=https://sepolia.infura.io/v3/55394c1bde074a09817f5917c5573569 // rpc url
SEPOLIA_SCAN_URL=https://sepolia.etherscan.io/address/ // tx details url

HELP=https://t.me/taritmahato // ask question


DB_API_URL=https://messfind.000webhostapp.com // api domain name url (get method)
