MY_ADDRESS=0x4f73a4f086C627cF492404sdfsfb65fD56A5Ac3fEd35F // your bnb recever wallet address
MSN_PRICE=20000 // price per token
PER_REFFER=1000 // per reffer token dis
TOKEN_CONTRACT_ADDRESS=0x0AF27a0eed6d8sdfsd93b36c33dF204354fc2EAcf790f // your toen contract address
BOT_LINK=https://t.me/oNwdsfsorkSaleBot // your telegram bot link
BOT_TOKEN=61216sdf3433123:AAGDehGcsdfsfQLShhgkKuf5sdf0eWVVvHBj__2kfkY // your telegram bot token

API_KEY=YU2D1Z764SGI4sdf34ETN5QBJsdfsdWVX8IN4SF1P19C3 // binance api
TRANSACTION_LIST_ENDPOINT=https://api.bscscan.com/api 

PRIVATE_KEY=9936ffd8c463fsdfd8e1203fd42342421fssd8c8d4419dsfsfsdf32b942e7467be27a9cdf442424086a7b5c15c0706d // your token sending private key
RPC_URL=https://sepolia.infura.io/v3/5533fsd94c1bddsffe074a0wq9817f523423213213917c5573569 // rpc url
SEPOLIA_SCAN_URL=https://sepolia.etherscan.io/address/ // tx details url

HELP=https://t.me/<your username> // ask question


DB_API_URL=https://messfind.000webhostapp.com // api domain name url (get method)
